{% extends "layout.html" %}
{% from "macros.html" import list_subreddits %}

{% block title %}Reddit Home{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="display-4 pt-4">Endpoints</h2>

        <h3 class="display-6 pt-4">/subreddits</h3>
        <p>Available methods: GET, POST</p>
        <p>Description: view all subreddits, add new subreddit</p>

        <h3 class="display-6 pt-4">/subreddits/{subreddit_id}</h3>
        <p>Available methods: GET, PUT, DELETE</p>
        <p>Description: view single subreddit, update single subreddit, delete single subreddit</p>

        <h3 class="display-6 pt-4">/subreddits/{subreddit_id}/posts</h3>
        <p>Available methods: GET, POST</p>
        <p>Description: view posts of a subreddit, add new posts to a subreddit</p>

        <h3 class="display-6 pt-4">/subreddits/{subreddit_id}/posts/{post_id}</h3>
        <p>Available methods: GET, PUT, DELETE</p>
        <p>Description: view, update or delete single post</p>

        <h3 class="display-6 pt-4">/subreddits/{subreddit_id}/posts/{post_id}/comments</h3>
        <p>Available methods: GET, POST</p>
        <p>Description: view comments on post or add new comment</p>

        <h3 class="display-6 pt-4">/subreddits/{subreddit_id}/posts/{post_id}/comments/{comment_id}</h3>
        <p>Available methods: PUT, DELETE</p>
        <p>Description: update or delete a comment</p>

        <h3 class="display-6 pt-4">/posts</h3>
        <p>Available methods: GET</p>
        <p>Description: view all posts on all subreddits</p>

    </div>
{% endblock %}