{% macro navbar_default() %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">RZNU Reddit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                {% if session['username'] %}
                    <li class="nav-item">
                        <a class="nav-link" href="/subreddits">Subreddits</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                {% endif %}

            </ul>
            {% if session['username'] %}
                <span class="navbar-text" style="padding-right: 5px">
                    User: {{ session['username'] }}
                </span>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
{% endmacro %}

{% macro list_subreddits(subreddits) %}
    <div class="jumbotron" style="padding: 20px; margin-bottom: 10px">
        {% for subreddit in subreddits %}
            <h3 class="display-7">
                <a href="/subreddits/{{ subreddit.id }}">{{ subreddit.title }}</a> (started by user {{ subreddit.user.name }})
            </h3>
{#            <form action="{{ url_for('delete_movie', movie_name=movie.name) }}" method=post>#}
{#                <input type=submit value=Delete">#}
{#            </form>#}
        {% endfor %}
    </div>
{% endmacro %}

{% macro list_posts(subreddit) %}
    <div class="jumbotron" style="padding: 20px; margin-bottom: 10px">
        {% if not subreddit.posts %}
            No posts
        {% else %}
            {% for post in subreddit.posts %}
                <h3 class="display-7">
                    <a href="/subreddits/{{ subreddit.id }}/posts/{{ post.id }}">{{ post.title }}</a> (started by user {{ post.user.name }})</h3>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro list_comments(post) %}
    {% if not post.comments %}
        No comments yet.
    {% else %}
        {% for comment in post.comments %}
            <div class="jumbotron" style="padding: 20px; margin-bottom: 10px">
                <div class="text-secondary">{{ comment.user.name }}</div>
                {{ comment.content }}
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}