{% extends "layout.html" %}

{% block title %}Posts{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="display-4 pt-4">All posts</h2>

        <div class="jumbotron" style="padding: 20px; margin-bottom: 10px">
            {% if not posts %}
                No posts
            {% else %}
                {% for post in posts %}
                    <h3 class="display-7">
                        <a href="/subreddits/{{ post.subreddit_id }}/posts/{{ post.id }}">{{ post.title }}</a> (started by
                        user {{ post.user.name }})</h3>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}