{% extends "layout.html" %}

{% block content %}
    <div class="d-flex align-items-center h-100">
            <form method=post class="form-signin">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
                <h1>New user registration</h1>
                <div class="name pb-2 pt-2">
                    {{ form.name(placeholder='Name', class='form-control') }}
                    {% if form.name.errors %}
                        <ul class="errors">
                            {% for error in form.name.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>                <div class="email pb-2">
                    {{ form.email(placeholder='Email', class='form-control') }}
                    {% if form.email.errors %}
                        <ul class="errors">
                            {% for error in form.email.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="password pb-2" style="">
                    {{ form.password(placeholder='Password', class='form-control') }}
                    {% if form.email.errors %}
                        <ul class="errors">
                            {% for error in form.password.errors %}
                                <li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="submitbutton">
                    <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit">Register!</button>
                </div>
            </form>
    </div>
{% endblock %}